%h3 Addresses 
%table
  %tr
    %th Name
    %th Phone
    %th Email
  = paginate @addresses
  - for @address in @addresses
    %tr
      %td= in_place_editor_field :address, 'name' 
      %td= in_place_editor_field :address, 'phone' 
      %td= in_place_editor_field :address, 'email' 
      %td= link_to "Show", @address
      %td= link_to "Edit", edit_address_path(@address)
      %td= link_to "Destroy", @address, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Address", new_address_path 
















