=form_tag addresses_path, :method => 'get' do
  %p
    =text_field_tag :search, params[:search]
    =submit_tag :search, :name => nil
%h3 Addresses 
%table
  %tr
    %th Name
    %th Phone
    %th Email
  = paginate @addresses
  - for @address in @addresses
    %tr.prepend-top
      %td= in_place_editor_field :address, :name
      %td= in_place_editor_field :address, :phone
      %td= in_place_editor_field :address, :email
      %td.prepend-left= link_to "Show", @address
      %td= link_to "Edit", edit_address_path(@address)
      %td= link_to "Destroy", @address, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Address", new_address_path 
















